* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    font-family: Garamond, 'Times New Roman', Times, serif;
    color: #fff;
    background: #000;
    overflow: hidden;
}

.splashpage {
    position: relative;
    background: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}